.sidebar {
	max-width: 200px;
	min-width: 200px;
}

.button, .button-selected {
	color: #3c3c3c;
	text-align: left;
	justify-content: start;
	cursor: pointer;
	background-color: transparent;
}

.button:hover {
	background-color: rgb(230, 230, 230)
}

.button-selected {
	background-color: #ededed;
}